html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #000;
    color: #fff;
}

nav{
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    color: white;
    display: flex;
    justify-content: flex-start;
}

@media only screen and (max-width: 618px) {
    nav {
      height: 80px;
    }
    nav a{
        text-align: center;
    }
  }

nav a{
    padding: 14px 15px;
}

a{
    text-decoration: none;
    color: white;
}

#nome{
    background: -webkit-linear-gradient(#FC7600, #FFD600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Norican', cursive;
    margin: 0;
    opacity: 1;
    text-align: center;
    font-size: 100px;
}

.container{
    padding: 30px;
}

.container-content{
    max-width: 1200px;
    margin: auto;
}

.container-imagens{
    display: flex;
    justify-content: center;
}

.container-imagens img{
    width: 33.33%;
}

.container-nome{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5f7;
    background-color: #06460d;
    background-image: url("capa.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.container.sobre{
    text-align: justify;
}


i{
    font-size: 32px;
}

.contato a{
    margin-right: 5px;
}

.contato a:last-of-type{
    margin-right: 0;
}

